*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat", sans-serif;
}

/* inicio de estilos de la seccion 2*/

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #DDF4FF;
}

h1{
    font-size: 52px;
}

.b{
    color: #96BB7C;

}

.text-hero{
    padding: 28% 0% 15% 15%;
}

.p{
    color: #737373;
    font-size: 20px;
    margin: 3% 20% 0 0;
}


.botones{
    height: 100%;
    width: 100%;
    margin: 5% 0 0 0;
}

.btn-1{
    background-color: #96BB7C;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    width: 180px;
    height: 40px;
}

.btn-2{
    background-color: transparent;
    border: 1px  solid #96BB7C;
    border-radius: 5px;
    color: #96BB7C;
    width: 180px;
    height: 40px;
}

/*fin de los estilos de la seccion 2*/